# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

* @iCrawl

/apps/guide/ @cyberpurge-net/website @cyberpurge-net/guide
/apps/guide/src/content/ @cyberpurge-net/guide
/apps/website/ @cyberpurge-net/website

/packages/actions/ @cyberpurge-net/actions
/packages/api-extractor-utils/ @cyberpurge-net/api-extractor-utils
/packages/brokers/ @cyberpurge-net/brokers
/packages/builders/ @cyberpurge-net/builders
/packages/collection/ @cyberpurge-net/collection
/packages/core/ @cyberpurge-net/core
/packages/create-discord-bot/ @cyberpurge-net/guide
/packages/discord.js/ @cyberpurge-net/core
/packages/docgen/ @iCrawl
/packages/formatters/ @cyberpurge-net/formatters
/packages/next/ @cyberpurge-net/core
/packages/proxy/ @cyberpurge-net/proxy
/packages/proxy-container/ @cyberpurge-net/proxy
/packages/rest/ @cyberpurge-net/rest
/packages/scripts/ @cyberpurge-net/scripts
/packages/ui/ @cyberpurge-net/ui
/packages/util/ @cyberpurge-net/util
/packages/voice/ @cyberpurge-net/core
/packages/ws/ @cyberpurge-net/ws
